{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>João Gonçalves - FullStack</title>
</head>
<body>
    <header>
        <h1>João Gonçalves</h1>
        <p>Dev - Full Stack</p>
        <nav>
         <ul>
          <li>HOME</li>
          <li>SOBRE</li>
          <li>BLOG</li>
         </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>